<h1>Welcome {{name}} </h1>
<div *ngIf="showQrCode" class="card text-white bg-success mb-3" style="max-width: 13rem; ">
  <div class="card-header">Here's your QR Code :</div>
  <div class="card-body">
    <div class="row container-fluid" id="QrCodeZone">
      <ngx-qrcode [elementType]="elementType" [value]="value" cssClass="bshadow">
      </ngx-qrcode>
    </div>
    <a class="text-dark" [href]="href"  (click)="downloadQRCode()" download>Download Image</a>
  </div>
</div>

<div class="class form-group" id="generateQrCode">
<form (ngSubmit)="onSubmit()" #physcianQrCodeForm="ngForm"> 
  <a *ngIf="!showQrCode">Do you want to generate a QRCode?</a><br>
  <a *ngIf="showQrCode">Do you want to generate another QRCode?</a><br>
  <button type="submit"  class="btn btn-info">Generate</button>
</form>
</div>

